/* HEADER SECTION START */
.base-header{
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(68,146,201,1) 35%, rgba(10,0,255,1) 100%);
}
.saved-changes{
  color: #326ca88c !important;
}
.base-header li{
    float: left;
    list-style-type: none;
    padding: 8px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.base-header li:hover{
  background-color:#8500ff !important;
}
/* HEADER SECTION END */

/* FEATURE SECTION START */
.features-list{
  background-color: #add8e67a;
}
.features-list ul{
  height: 100vh;
  background-color: #111;
}
.features-list li{
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff82;
  cursor: pointer;
  background-color: #111;
}
.features-list li i{
  font-size: 14px 
}
/* HEADER SECTION END */

/* SIDENAV SECTION START */
.sidenav-width{
  width: 275px !important;
  padding: 10px !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 9%;
  left: 6%;
  background-color: #111111cf;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 32px;
  padding: 2px 2px 2px 2px;
  line-height: 22px;
}
/* SIDENAV SECTION END */

/* WIDGET SECTION START */
.widget-category {
  padding: 10px;
}
.widget-category p{
  color: #ffffff;
}

.widget-category li{
  display: inline-block;
  padding: 10px;
}
.widget-category li img{
  width: 60px;
  height: 60px;
  left: 0;
  top: 0
  
}
/* WIDGET SECTION END */

#div1 {
  width: 100%; 
}

#div1 img {
  width: 60px;
  position: relative;
}
.page-region{
  margin: 100px;
  background: #ffffff;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 21cm;
  min-height: 29.7cm;
}
